<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="7zip"/>
   <package id="7zip.install"/>
   <package id="7zip.portable"/>
   <package id="AdoptOpenJDKjre"/>
   <package id="anaconda3"/>
   <package id="anki"/>
   <package id="audacity"/>
   <package id="autohotkey"/>
   <package id="autohotkey.install"/>
   <package id="autohotkey.portable"/>
   <package id="autoit"/>
   <package id="autoit.install"/>
   <package id="boostnote"/>
   <package id="briss"/>
   <package id="caffeine"/>
   <package id="calibre"/>
   <package id="ccleaner"/>
   <package id="choco-package-list-backup"/>
   <package id="chocolatey"/>
   <package id="chocolatey-core.extension"/>
   <package id="chocolatey-dotnetfx.extension"/>
   <package id="chocolatey-fastanswers.extension"/>
   <package id="chocolatey-misc-helpers.extension"/>
   <package id="chocolatey-windowsupdate.extension"/>
   <package id="chromedriver"/>
   <package id="chromium"/>
   <package id="cpu-z"/>
   <package id="cpu-z.install"/>
   <package id="crystaldiskmark"/>
   <package id="curl"/>
   <package id="cyg-get"/>
   <package id="Cygwin"/>
   <package id="dart-sdk"/>
   <package id="dexpot"/>
   <package id="digikam"/>
   <package id="discord"/>
   <package id="discord.install"/>
   <package id="disk2vhd"/>
   <package id="dolphin"/>
   <package id="DotNet3.5"/>
   <package id="DotNet4.5.2"/>
   <package id="DotNet4.6"/>
   <package id="DotNet4.6.1"/>
   <package id="dotnet4.6.2"/>
   <package id="dotnet4.7"/>
   <package id="dotnet4.7.2"/>
   <package id="dotnetcore-runtime"/>
   <package id="dotnetcore-runtime.install"/>
   <package id="dotnetfx"/>
   <package id="drawpile"/>
   <package id="driverview"/>
   <package id="dupeguru"/>
   <package id="duplicatefilefinder"/>
   <package id="epicgameslauncher"/>
   <package id="etcher"/>
   <package id="eventghost"/>
   <package id="Everything"/>
   <package id="ext2fsd"/>
   <package id="ffmpeg"/>
   <package id="fiddler"/>
   <package id="Firefox"/>
   <package id="flashplayerplugin"/>
   <package id="flutter"/>
   <package id="geforce-game-ready-driver"/>
   <package id="gimp"/>
   <package id="git"/>
   <package id="git.install"/>
   <package id="github-desktop"/>
   <package id="gnucash"/>
   <package id="google-backup-and-sync"/>
   <package id="GoogleChrome"/>
   <package id="gpg4win-vanilla"/>
   <package id="gpu-z"/>
   <package id="handbrake"/>
   <package id="handbrake.install"/>
   <package id="imageusb"/>
   <package id="javaruntime"/>
   <package id="jq"/>
   <package id="jre8"/>
   <package id="KB2533623"/>
   <package id="KB2670838"/>
   <package id="KB2919355"/>
   <package id="KB2919442"/>
   <package id="KB2999226"/>
   <package id="KB3033929"/>
   <package id="KB3035131"/>
   <package id="kdenlive"/>
   <package id="kotlinc"/>
   <package id="LinkShellExtension"/>
   <package id="linux-reader"/>
   <package id="logitech-options"/>
   <package id="lossless-cut"/>
   <package id="lxrunoffline"/>
   <package id="macrocreator"/>
   <package id="macrocreator.install"/>
   <package id="mendeley"/>
   <package id="microsoft-edge"/>
   <package id="microsoft-teams"/>
   <package id="microsoft-visual-cpp-build-tools"/>
   <package id="microsoft-windows-terminal"/>
   <package id="miktex"/>
   <package id="mm-choco.extension"/>
   <package id="netfx-4.6.2"/>
   <package id="ngrok"/>
   <package id="ngrok.portable"/>
   <package id="nircmd"/>
   <package id="notepadplusplus"/>
   <package id="notepadplusplus.install"/>
   <package id="npackd"/>
   <package id="npackd.install"/>
   <package id="nvidia-display-driver"/>
   <package id="obs-studio"/>
   <package id="obs-studio.install"/>
   <package id="olex2"/>
   <package id="onetastic"/>
   <package id="openal"/>
   <package id="openaudible"/>
   <package id="openboard"/>
   <package id="opencl-intel-cpu-runtime"/>
   <package id="openjdk"/>
   <package id="openvpn"/>
   <package id="osfmount"/>
   <package id="paint.net"/>
   <package id="pcsx2"/>
   <package id="pdftk"/>
   <package id="plex"/>
   <package id="polar"/>
   <package id="PowerBI"/>
   <package id="poweriso"/>
   <package id="PowerShell"/>
   <package id="powertoys"/>
   <package id="pulseaudio"/>
   <package id="putty"/>
   <package id="putty.portable"/>
   <package id="python2"/>
   <package id="python3"/>
   <package id="qbittorrent"/>
   <package id="qttabbar"/>
   <package id="radarr"/>
   <package id="rawcopy"/>
   <package id="reflect-free"/>
   <package id="rufus"/>
   <package id="runasdate"/>
   <package id="scrcpy"/>
   <package id="sdio"/>
   <package id="setpoint"/>
   <package id="sharex"/>
   <package id="slack"/>
   <package id="spacedesk-client"/>
   <package id="speedyfox"/>
   <package id="spice-agent"/>
   <package id="steam"/>
   <package id="swig"/>
   <package id="tabula"/>
   <package id="teamviewer"/>
   <package id="telegram"/>
   <package id="telegram.install"/>
   <package id="treesizefree"/>
   <package id="unifying"/>
   <package id="vb-cable"/>
   <package id="vcredist140"/>
   <package id="vcredist2008"/>
   <package id="vcredist2010"/>
   <package id="vcredist2013"/>
   <package id="vcredist2015"/>
   <package id="vcredist2017"/>
   <package id="vcxsrv"/>
   <package id="ventoy"/>
   <package id="virtio-drivers"/>
   <package id="VirtualBox.ExtensionPack"/>
   <package id="vivaldi"/>
   <package id="vivaldi.portable"/>
   <package id="vlc"/>
   <package id="vnc-viewer"/>
   <package id="vscode"/>
   <package id="vscode.install"/>
   <package id="WhatsApp"/>
   <package id="wimlib"/>
   <package id="winff"/>
   <package id="wkhtmltopdf"/>
   <package id="wsltty"/>
   <package id="wsudo"/>
   <package id="xpdf-utils"/>
   <package id="youtube-dl"/>
   <package id="zoom"/>
   <package id="zotero"/>
</packages>
